<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :first_nm %><br>
    <%= f.text_field :first_nm %>
  </div>
  <div class="field">
    <%= f.label :last_nm %><br>
    <%= f.text_field :last_nm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
